@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="css/site.css" rel="stylesheet" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome To Darkec</h1>
    <p></p>
</div>
<div class="button_placement">
    <div class="button_placement" style="padding-top: 60px;">
        <a asp-page="Login" class="button"> Log In </a>
    </div>
    <div class="button_placement">
        <a asp-page="Register" class="button"> Sign Up </a>
    </div>
</div>
