@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="css/site.css" rel="stylesheet" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome To Darkec</h1>
    <p></p>
</div>
<a asp-page="Login"> Log In </a>
<a asp-page="Signup"> Sign Up </a>
