@page
@model Darkec.Pages.LoginModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Something</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="css/StyleSheet.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>

<div class="text-center" class="background">
    <h1 class="display-4">Log In</h1>
</div>



<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src='Images/Darkec logo.svg' id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" asp-for="@Model.Username" id="login" class="fadeIn second" name="login" placeholder="username">
                <input type="text" asp-for="@Model.Password" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>

</html>


