@page
@model Darkec.Pages.ServicesModel
@{
}
<html>
<head>
    <title>Services</title>

    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
<div class="grid">
    <a asp-page="Apartments/GetAllApartments">
        <div class="wrapper">
            <div class="cards_wrap">
                <div class="card_item">
                    <div class="card_inner">
                        <div class="card_top">
                            <img src="Images/Apartments/ap1.jpg" alt="Apartments" class="card_image">
                        </div>
                        <div class="card_bottom">
                            <div class="card_category">
                                Apartments
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a asp-page="Boats/GetAllBoats">
        <div class="wrapper">
            <div class="cards_wrap">
                <div class="card_item">
                    <div class="card_inner">
                        <div class="card_top">
                            <img src="Images\Boats\1082_70hp.jpg" alt="Boats" class="card_image">
                        </div>
                        <div class="card_bottom">
                            <div class="card_category">
                                Boats
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a asp-page="Trucks/GetAllTrucks">
        <div class="wrapper">
            <div class="cards_wrap">
                <div class="card_item">
                    <div class="card_inner">
                        <div class="card_top">
                            <img src="Images\Trucks\yellow.jpg" alt="Towing Truck" class="card_image">
                        </div>
                        <div class="card_bottom">
                            <div class="card_category">
                                Towing Trucks
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

</body>

</html>
