@page
@model Darkec.Pages.Apartments.DeleteApartmentModel
@{
    bool isAdmin = false;

    if (LoginModel.CurrentUser != null)
    {
        isAdmin = LoginModel.CurrentUser.IsAdmin;
    }
    ViewData["Title"] = "DeleteApartment";
}

<h1>Delete Apartment</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Apartment.Id
            </td>
            <td>
                @Model.Apartment.Name
            </td>
            <td>
                @Model.Apartment.Description
            </td>
            <td>
                @Model.Apartment.Price
            </td>
            <td>
                <img src="~/Images/Apartments/@Model.Apartment.ImageName" width="60" height="70">
            </td>
        </tr>
    </tbody>
</table>

<form method="post">
    @{
        if (isAdmin == true)
        {
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div class="alert alert-danger" role="alert">
                Are you sure? This is permanent.
            </div>
        }
        else
        {
            <p>You're not an Admin, how did you get to this page?</p>
        }
    }
</form>
<br />
<div>
    <a class="btn btn-primary" asp-page="GetAllApartments">I changed my mind</a>
</div>